<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.dirceu.limatest">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.sample.dirceu.limatest.NodeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="File system"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".players.ImagePlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">

        </activity>
        <activity
            android:name=".players.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">

        </activity>
        <activity
            android:name=".players.AudioPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".players.DocumentViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">

        </activity>
    </application>

</manifest>